<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<connectionStrings>
			<add name="connectionstr" connectionString="Data Source=WINDOWS-NJ9LCT3\MSSQLSERVER01;Initial Catalog=hospital;Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient" />
		</connectionStrings>
    </startup>
</configuration>